@model IEnumerable<Proyecto.Models.Nomina>

@{
    ViewBag.Title = "Buscar";
}

<h2>Visualizar Nomina</h2>
<br />

    @using (Html.BeginForm())
    {
<p>
    Busqueda por Año:@Html.TextBox("Año")Busqueda por Mes:@Html.TextBox("Mes")<br />
    <input type="submit" class="btn btn-primary" value="Buscar" />
</p>
    }
<br />
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto_Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto_Total)
        </td>
    
    </tr>
}

</table>
